<div class="container">
  <div class="list-group list-group-flush border mt-3">
    <app-person-details [title]="alienPersonDetailsTitle"></app-person-details>
    <app-passport [title]="alienPasportDetailsTitle"></app-passport>
    <app-contact-details [title]="alienContactDetailsTitle"></app-contact-details>
    <app-organization [title]="alienOrganizationTitle"></app-organization>
    <app-job [title]="alienWorkPlaceTitle"></app-job>
    <app-state-registration [title]="alienStateRegistrationTitle"></app-state-registration>
  </div>
</div>
