<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-12 d-inline-flex">
          <div class="mr-auto"><h2><b>Приглашения</b></h2></div>
          <div class="input-group w-auto">
            <div class="input-group-append">
              <button type="button" class="ml-2 btn btn-warning" (click)="createNew()">
                <span><b>Новое</b></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ФИО</th>
          <th scope="col">Страна</th>
          <th scope="col">Организация</th>
          <th scope="col">Год</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Иван Петрович Голохвастов</td>
          <td>Нидерланды</td>
          <td>Институт ядерной энергетики</td>
          <td>2012</td>
          <td class="text-center">
            <a class="view">
              <i class="fa fa-share-square-o"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Смирнов Виктор Андреевич</td>
          <td>Италия</td>
          <td>Институт промышленной переработки сырья</td>
          <td>2014</td>
          <td class="text-center">
            <a class="view">
              <i class="fa fa-share-square-o"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Мохначев Игорь Павлович</td>
          <td>Испания</td>
          <td>Институт теплофизики</td>
          <td>2018</td>
          <td class="text-center">
            <a class="view">
              <i class="fa fa-share-square-o"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
